@import 'antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  background-color: #efbb0f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#H1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

#BKC {
  background-color: hsl(299, 90%, 52%);
}

.add-goal {
  padding: 16px 0 0 0;
}