@import 'antd/dist/antd.css';

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes color {
  0% {
    background: #7002f6;
  }

  20% {
    background: #f642c6;
  }

  40% {
    background: #a600a9;
  }

  60% {
    background: #7002f6;
  }

  80% {
    background: #f642c6;
  }

  100% {
    background: #a600a9;
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}


body {
  background: #f348ce;
  /* Fallback */
  animation: color 15s infinite linear;
  text-align: center;
}


.App {
  text-align: center;
}
.treesIcon {
   border-image: 0%;
   width: 30;
   height: 40;
}
.App-header {
  background: #33CCCC;
  /* Fallback */
  animation: color 12s infinite linear;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#H1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

h1 {
  color: black;
  font-size: calc(20px + 2vmin);
}

h2 {
  color: whitesmoke;
}

#BKC {
  background-color: hsl(299, 90%, 52%);
  background: #33CCCC;
  /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

.add-goal {
  padding: 2px 0 0 0;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Animation property */
button {
  animation: wiggle 2s linear infinite;
}

button {
  /* position: absolute; */
  /* left: calc(50% - 3em); */
  top: calc(50% - 2em);

  height: 4em;
  width: 7em;

  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;

}

.li {
  display: block;
  font-size: 1.5rem;
}

.menu {
  display: block;
  font-size: 1.5rem;
}

.li2 {
  display: block;
  font-size: 1.5rem;
}

.li4 {
  display: block;
  font-size: 3.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

input[type=range] {
  display: block;
  margin: 0.9em auto;
  width: 50%;
}

.colorNumber {
  display: block;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.sliders {
  margin: 30vh auto;
}